.App {
  min-height: 90vh;
}

.center-all-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-all-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-all-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.left-all-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.left-all-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.space-all-evenly-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.project-card {
  max-width: 90vw;
  margin: 20px;
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 6px;
  /* box-shadow: -2px 2px 3px 1px rgba(65, 94, 158, 0.2); */
}
.react-calendar-heatmap {
  margin: 10px;  
  max-height: 200px;
}
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}
.react-calendar-heatmap .color-github-5 {
  fill: #288b7b;
}
.react-calendar-heatmap .color-github-6 {
  fill: #28778b;
}
.react-calendar-heatmap .color-github-7 {
  fill: #28538b;
}
.react-calendar-heatmap .color-github-8 {
  fill: #28328b;
}
.react-calendar-heatmap .color-github-9 {
  fill: #46288b;
}
.react-calendar-heatmap .color-github-10 {
  fill: #8b2886;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}